.menu h3{
    float: left;
    margin-left: 15%;
    color: rgb(0, 0, 0);
}
.menu{
    margin-left: 10%;
    width: 75%;
    position: absolute;
    z-index: 4;
}
.onglet .main_pages 
{
    float: right;
    margin-top: 1%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}
.onglet .main_pages a 
{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.onglet .main_pages .contact{
    color: rgb(0, 0, 0);
}

label, #toggle
{
    display: none;
}
/* --------------------main----------------- */
main .container{
    display: inline-block;
    margin-top: 10%;
    margin-left: 10%;
}
main .container img{
    display: flex;
    width: 70vh;
    height: 50vh;
}
main .container .image1{
    float: left;
}
main .container .image2{
    float: right;
}
main .container .image3{
    float: left;
}
main .container .image4{
    float: right;
}
@media all and (max-width: 890px)
{
    header .menu{
        display: inline-block;
        
    }
    header .menu a{
        position: relative;
        margin: 0px;
    }
    header .onglet
    {
        float: right;
        z-index: 3;
    }
    header .trois {
        display: flex;
        float: right;
        margin-top: 20px;
    }
    header .onglet .main_pages 
    {
        display: none;
        flex-direction: column;
        height: 80vh;
        width: 100vw;
        background-color: azure;
        z-index: 4;
        margin-top: 0px;
    }
 
    header .onglet .main_pages a {
        width: 100%;
        color: black;
    }
    
    #toggle:checked + .main_pages {
        display: flex;
    }
}